@media only screen and (max-width: 1220px) {
  .container {
    padding: 0px 20px;
  }
  .graycube {
    display: none;
  }
  .section_user {
    margin-top: 70px;
  }
  .imgsect_info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .imgs img {
    width: 310px;
    height: 240px;
  }
  .imgsect_info > span {
    font-size: 19px;
  }
  .imgsect_info h3 {
    font-size: 36px;
  }
  .imgsect_text {
    margin-bottom: 27px;
    font-size: 19px;
  }
  .imgsect_lasttext {
    font-size: 19px;
  }
  .middle_img {
    margin-left: 0px;
  }
  .imgsect_text,
  .imgsect_lasttext {
    width: inherit;
  }
  .studentsect_title {
    margin-top: 35px;
    margin-bottom: 40px;
  }
  .studentsect_title h3 {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .studentsect_title h1 {
    font-size: 40px;
  }
  .studentsect_item {
    margin: 0px 90px;
  }
  .studentsect_item_title h3 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1170px) {
  .navbar {
    padding: 10px 0;
  }
  .headername {
    padding-left: 7px;
    font-size: 16px;
  }
  .navigation a {
    font-size: 15px;
  }
  ul .registr {
    padding: 8px 22px;
    font-weight: normal;
  }

  .header_banner h2 {
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
  }
  .header_banner h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 55px;
    max-width: 510px;
    color: #8ca8f7;
  }
  .header_banner h3 {
    font-size: 15px;

    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
  }
  .text {
    padding: 5px;
  }
  .flexslider {
    height: 500px;
  }
  .flexslider .slides img {
    height: 500px;
    object-fit: cover;
  }
  .header_banner button {
    border: 0px solid;
  }
  .first_sect {
    margin-top: 20px;
  }
  .sect_info {
    padding: 5px;
  }

  .sect_info h3 {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .sect_info h1 {
    font-size: 37px;
    color: #000000;
    font-weight: 100;
  }
  .sect_paragrph {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .mainimg {
    position: relative;
  }
  .mainimg > img {
    height: 450px;
  }
  .graycube {
    height: 500px;
    width: 186px;
    display: none;
  }
  .section_user {
    margin-top: 40px;
  }
  .section_user h3 {
    padding-top: 0px;
  }
  .section_user h1 {
    font-size: 37px;
  }
  .sect_img img {
    width: 150px;
  }
  .imgsect_info > span {
    font-size: 17px;
  }
  .imgsect_info h3 {
    font-size: 33px;
  }
  .imgsect_text,
  .imgsect_lasttext {
    width: inherit;
  }
  .studentsect_item {
    margin: 0px 80px;
  }
  .studentsect_item_title h3 {
    margin-left: 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .header_banner button {
    border: 0px solid;
  }
  .first_sect {
    margin-top: 20px;
  }
  .imgsect_info > span {
    font-size: 16px;
  }
  .imgsect_info h3 {
    font-size: 30px;
  }
  .imgsect_text,
  .imgsect_lasttext {
    width: inherit;
  }
  .imgs img {
    margin-bottom: 45px;
  }
}
@media only screen and (max-width: 940px) {
  .section_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .sect_img {
    width: 100%;
  }
  .section_user h3,
  h1 {
    text-align: center;
  }
  .imgs img {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .childrens_sect {
    display: inline-block;
    padding-top: 60px;
  }

  .middle_img {
    margin: 0px;
  }
  .imgs {
    width: 310px;
  }
  .childrens_sect {
    width: 100%;
  }
  .imgs {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .imgsect_text,
  .imgsect_lasttext {
    width: 100%;
    max-width: 100%;
  }
  .imgsect_info {
    text-align: center;
    margin-top: 10px;
  }
  .platform_number {
    width: 50%;
  }
  .platform_title h3 {
    font-size: 18px;
  }
  .platform_title h1 {
    font-size: 40px;
  }
  .platformsect_last {
    text-align: center;
  }
  .platformsect_lastflex h1 {
    font-size: 38px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .platformsect_lastflex {
    display: block;
  }
  .platformsect_last {
    padding: 40px 0px;
  }
  .platformsect_lastflex h3 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 890px) {
  .logo {
    width: 100%;
    justify-content: center;
  }
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .sect_info {
    max-width: 100%;
    width: 100%;
  }
  .section_container {
    flex-wrap: wrap;
  }
  .sect_paragrph {
    max-width: 100%;
  }
  .morevideo {
    width: 190px;
    margin: 0 auto;
  }
  .mainimg {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .sect_info h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  .platform_number {
    width: 100%;
  }
  .platformsect_text {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .navigation nav {
    justify-content: center;
  }

  .navigation nav ul {
    width: 100%;
    justify-content: center;
    margin: 6px 0px;
  }
  .headername {
    font-size: 13px;
  }
  .header_banner h2 {
    font-size: 14px;
  }
  .header_banner h1 {
    font-size: 36px;
  }
  .header_banner h3 {
    font-size: 13px;
  }
  .flexslider .slides img {
    height: 300px;
  }

  .flexslider {
    height: 300px;
  }
  header > .container {
    top: 61%;
  }
  .section_img {
    grid-template-columns: 1fr 1fr;
  }
  .section_user .container {
    padding: 0px;
  }
  .sect_img img {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 420px) {
  .header_banner h2 {
    display: none;
  }
  .header_banner h1 {
    font-size: 30px;
  }
  .header_banner h3 {
    font-size: 11px;
  }
  .header_banner button {
    font-size: 15px;
    padding: 6px 18px;
  }
  .mainimg > img {
    height: inherit;
    width: 100%;
  }
  .sect_img img {
    width: 130px;
  }
}
