* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header_absolute {
  position: absolute;
  width: 100%;
}
header {
  position: relative;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  padding: 20px 0;
  background-color: #ffffff;
  width: 100%;
}
.navigation,
ul,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li {
  margin: 0 15px;
}
.logo img {
  position: absolute;
  margin: 0px 4px;
  padding: 10px;
}
.logo span {
  position: relative;
  background-color: blue;
  width: 40px;
  display: inline-block;
  height: 40px;
}
.logo h1 {
  padding-left: 10px;
  color: #2e7af4;
  font-size: 30px;
  margin-top: 2px;
  display: inline-block;
}
.navigation a {
  text-decoration: none;
  color: #2e7af4;
  font-size: 18px;
}
.header_banner img {
  width: 100%;
}
.header_banner {
  max-width: 685px;
  width: 100%;
  position: relative;
}

.header_banner h2 {
  color: #2e7af4;
  font-size: 20px;
  font-weight: 700;
}
